version: '3.7'

services:
  node-app:
    user: root
    restart: always
    build:
      context: .
    ports:
      - "3002:3002"
    volumes:
      - "./test:/app/test"
    depends_on:
      - postgres
    networks:
      - custom_network
    # Add a healthcheck configuration to check the memory usage
    
    
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: price
    ports:
      - "5432:5432"
    networks:
      - custom_network
    volumes:
      - ./in.sql:/docker-entrypoint-initdb.d/init.sql

networks:
  custom_network:
    external: true
