version: '3.7'

services:
  node-app:
    user: root
    restart: always
    build:
      context: .
    ports:
      - "3002-3051:3002"
    volumes:
      - "./test:/app/test"
    depends_on:
      - postgres
    networks:
      - custom_network
    # Add a healthcheck configuration to check the memory usage
  postgres:
    deploy:
      resources:
        limits:
          cpus: '1'  # Set the CPU limit to 1 (one CPU core)
          memory: '1G'  # Set the memory limit to 1 gigabyte
    image: postgres
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - custom_network
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  python-script:
    image: python:3
    volumes:
      - ./container_memory_monitor.py:/app/container_memory_monitor.py
      - ./requirements.txt:/app/requirements.txt  
    working_dir: /app  # Set the working directory
    command: >
      sh -c "pip install -r requirements.txt && python container_memory_monitor.py"
    depends_on:
      - node-app
    networks:
      - custom_network
  storage:
    image: minio/minio
    restart: always
    ports:
      - 80:9000
      - 9090:9090
    environment:
      MINIO_ROOT_USER: ndp
      MINIO_ROOT_PASSWORD: str0ngP@ss
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9090"
    networks:
      - custom_network

volumes:
  minio-data:

networks:
  custom_network:
    external: true
