version: '3.7'

services:
  node-app:
    deploy:
      resources:
        limits:
          cpus: '0.5'  # Set the CPU limit to 0.5 (half of a CPU core)
          memory: '512M'  # Set the memory limit to 512 megabytes
    user: root
    build:
      context: .
    ports:
      - "3002-3021:3002"
    volumes:
      - "./test:/app/test"
      - data-volume:/app:rw
    depends_on:
      - postgres
    restart: always
    networks:
      - custom_network
  postgres:
    deploy:
      resources:
        limits:
          cpus: '1'  # Set the CPU limit to 1 (one CPU core)
          memory: '1G'  # Set the memory limit to 1 gigabyte
    image: postgres
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - custom_network
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  data-volume:  
  
networks:
  custom_network:
    external: true
