version: '3.7'

services:
  node-app:
    deploy:
      replicas: 20
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    user: root
    image: farbodnp/robo
    ports:
      - "3002-3021:3002"
    volumes:
      - "./test:/app/test"
    depends_on:
      - postgres
    restart: always
    networks:
      - custom_network
  postgres:
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
    image: postgres
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - custom_network
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  storage:
    image: minio/minio
    restart: always
    ports:
      - 80:9000
      - 9090:9090
    environment:
      MINIO_ROOT_USER: ndp
      MINIO_ROOT_PASSWORD: str0ngP@ss
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9090"
    networks:
      - custom_network

volumes:
  minio-data:

networks:
  custom_network:
    external: true
