version: '3'
services:
  node-app:
    # user: root
    build:
      context: .
    ports:
      - "3002-3012:3002" # Map container port 3002 to host port 3002 for the first replica
    volumes:
      - "./test:/app/test"
    depends_on:
      - postgres
    restart: always
    networks:
      - custom_network
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - custom_network
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

networks:
  custom_network:
    external: true
